h1 span{
  font-family: "Rowdies", sans-serif;
  font-size: 3rem;
  color: #A0153E;
}

.artcleImage {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.artcleImage:hover{
  cursor: pointer;
}

.main {
  background-color: #FFBFA9;
  border-radius: 20px;
}

.content {
  background-color: #FFBFA9;
  
}


span{
  color: #00C9A7;
}
